.tabs {
    clear: both;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
}

.tabs-item {
    width: 20%;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    background: rgb(211, 211, 211);
}

.tab-content {
    margin-top: calc(1vh + 10px);
}

.add-item-button {
    color: rgb(108, 117, 121);
}

.add-item-button:hover {
    color: rgb(108, 117, 121);
}

.editing-params-form {
    padding: 3.5%;
    background: rgb(212, 212, 212);
}