.tabs {
    clear: both;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
}

.tabs-item {
    width: 20%;
    display: inline-block;
    padding: 15px;
    box-shadow: 0 0 1px black;
    background: rgb(211, 211, 211);
    text-align: center;
}

.tabs-item:hover {
    background: rgb(226, 217, 217);
}

.tab-content {
    margin-top: calc(1vh + 10px);
}

.add-item-button {
    color: rgb(108, 117, 121);
}

.add-item-button:hover {
    color: rgb(108, 117, 121);
}

.editing-params-form {
    padding: 2%;
    background: rgb(212, 212, 212);
}