@import '~bootstrap/scss/bootstrap.scss';

body {
  color: rgb(108, 117, 121);
  background: rgb(255, 255, 255);
  font-family: monospace;
}

header, main, footer {
  background: rgb(223, 224, 230);
  margin-bottom: 0.4%;
  padding: 0.6%;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

footer {
  size: 1vh;
  margin-bottom: 0px;
  
}

.company-icon{
  font-size: 60px;
  font-weight: 450;
  margin-left: 1%;
  font-family: 'Russo One', sans-serif;
}

/********************LOGIN AND REGISTRATION************/

.sing-up {
  text-align: right;
  font-size: 19px;
}

.button-dark {
  background: rgb(167, 180, 185);
  border: 1px solid gray;
}

.button-dark:hover{
  background: rgb(170, 196, 219);
  border: 1px solid;
}

.button-red {
  background: red;
  border: 1px solid red;
}

.button-red:hover {
  background: rgb(219, 2, 2);
  border: 1px solid rgb(219, 2, 2);
}

.switcher button {
  margin-right: 1%;
}

.login-item-img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 1660px) {
  .login-item {
      font-size: 11px;
  }

  .login-item-img {
      width: 18px;
      height: 18px;
  }

  .login-container {
      height: 44px;
  }
}

@media screen and (max-width: 960px) {
  .login-item {
      font-size: 20px;
  }

  .login-item-img {
      width: 25px;
      height: 25px;
  }

  .login-container {
      height: 44px;
  }
}

/**********************FLIGHTS LIST********************/

.list {
  background: rgb(243, 243, 243);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 1%;
}

.list-filter {
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  background: rgb(211, 211, 211);
  min-height: 600px;
  padding: 1%;
}

.list-only .list-filter {
  width: 0%;
  display: none;
}

.list-only .list {
  width: 100%;
}

.filter-only .list {
  width: 0%;
  display: none;
}

.filter-only .list-filter {
  width: 100%;
}

.list-only .list-filter {
  width: 0%;
  display: none;
}

.list-only .list {
  width: 100%;
}

.filter-only .list {
  width: 0%;
  display: none;
}

.filter-only .list-filter {
  width: 100%;
}

.list-item {
  margin-top: 2%;
  background: rgb(228, 228, 228);
  padding: 1%;
  font-size: 18px;
}

.list-item h5 {
  font-size: 25px;
}

.list-item-img {
  width: 150px;
  height: 150px;
}

.item-cost {
  font-size: 50px;
  color: rgb(87, 126, 87);
  text-align: center;
}

.filter-item {
  margin: 0% 1%;
  margin-top: 2%;
}

.filter-control {
  width: 100%;
  height: 30px;
  font-size: 16px;
}

.filter-col {
  padding: 0.5%;
}

.button-buy {
  margin-left: 10%;
  min-width: 80%;
  max-width: 80%;
  background: rgb(87, 126, 87);
  border: 1px solid rgb(87, 126, 87);
  font-size: 18px;
}

.button-buy:hover {
  background: rgb(117, 168, 117);
  border: 1px solid rgb(117, 168, 117);
}

.button-buy img {
  width: 25px;
  height: 25px;
}

.button-filter {
  background: rgb(167, 180, 185);
  border: 1px solid gray;
  width: 100%;
}

.button-filter:hover{
  background: rgb(170, 196, 219);
  border: 1px solid;
}


@media screen and (max-width: 1660px) {
  .button-buy {
      font-size: 13px;
  }
  
  .button-buy img {
      width: 20px;
      height: 20px;
  }

  .list-item {
      font-size: 17px;
  }

  .list-item-img{
      width: 125px;
      height: 125px;
  }

  .list-item h5 {
      font-size: 23px;
  }
  
  .item-cost {
      font-size: 44px;
  }
}

@media screen and (max-width: 1366px) {
  .button-buy {
      font-size: 9px;
  }
  
  .button-buy img {
      width: 15px;
      height: 15px;
  }

  .list-item {
      font-size: 16px;
  }

  .list-item-img{
      width: 100px;
      height: 100px;
  }

  .list-item h5 {
      font-size: 22px;
  }

  .item-cost {
      font-size: 38px;
  }
}

@media screen and (max-width: 1080px) {
  .button-buy {
      font-size: 13px;
  }

  .button-buy img {
      width: 17px;
      height: 17px;
  }

  .list-item {
      font-size: 15px;
  }

  .list-item-img{
      width: 100px;
      height: 100px;
  }
  
  .list-item h5 {
      font-size: 25px;
  }
}

@media screen and (max-width: 960px) {
  .button-buy {
      font-size: 12px;
      padding-right: 0%;
      padding-left: 0%;
  }

  .button-buy img {
      width: 15px;
      height: 15px;
  }

  .list-item {
      font-size: 15px;
  }

  .list-item-img{
      width: 100px;
      height: 100px;
  }

  .item-cost {
      font-size: 32px;
  }
  
  .list-item h5 {
      font-size: 20px;
  }
}

/****************CONTENT/FILTER SWITCHER***************/

.content-filter-switcher {
  background: rgb(194, 194, 194);
  border: solid rgb(255, 255, 255) 1px;
  z-index: 999;
  height: 90px;
  width: 90px;
  top: 150px;
  right: 30px;
  position: fixed;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  padding: 30px;
  padding-left: 19px;
  font-family: 'Russo One', sans-serif;
}

@media screen and (max-width: 1660px) {
  .content-filter-switcher {
    top: 100px;
    right: 130px;
  }
}

@media screen and (max-width: 991px) {
  .content-filter-switcher {
    top: 180px;
  }
}

.content-filter-switcher:hover {
  background: rgb(206, 206, 206);
}

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo_One.ttf);
}