body {
  color: rgb(108, 117, 121);
  background: rgb(255, 255, 255);
  font-family: monospace;
}

:focus, :active {
  outline: none;
}

header, main, footer {
  background: rgb(223, 224, 230);
  margin-bottom: 0.4%;
  padding: 0.6%;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

footer {
  size: 1vh;
  margin-bottom: 0px;
}

.company-icon{
  font-size: 60px;
  font-weight: 450;
  margin-left: 1%;
  font-family: 'Russo One', sans-serif;
  color: rgb(108, 117, 121);
}

.company-icon:hover {
  color: rgb(108, 117, 121);
}

.non-dec-link {
  color: black;
  text-decoration: none;
}

.non-dec-link:hover {
  color: black;
  text-decoration: none;
}

/****************CONTENT/FILTER SWITCHER***************/

.content-filter-switcher {
  background: rgb(194, 194, 194);
  border: solid rgb(255, 255, 255) 1px;
  z-index: 999;
  height: 90px;
  width: 90px;
  top: 150px;
  right: 30px;
  position: fixed;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  padding: 30px;
  padding-left: 19px;
  font-family: 'Russo One', sans-serif;
  user-select: none;
}

@media screen and (max-width: 1660px) {
  .content-filter-switcher {
    top: 100px;
    right: 130px;
  }
}

@media screen and (max-width: 991px) {
  .content-filter-switcher {
    top: 180px;
  }
}

.content-filter-switcher:hover {
  background: rgb(206, 206, 206);
}

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo_One.ttf);
}

.non-selectable {
  user-select: none;
}