* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}

:active, :focus {
  outline: 0 !important;
}

button {
  transition: 0.2s linear;
}

body {
  color: rgb(108, 117, 121);
  background: rgb(255, 255, 255);
  font-family: monospace;
}

:focus, :active {
  outline: none;
}

header, main, footer {
  background: rgb(223, 224, 230);
  margin-bottom: 0.4%;
  padding: 0.6%;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

footer {
  size: 1vh;
  margin-bottom: 0px;
}

.company-icon{
  font-size: 60px;
  font-weight: 450;
  margin-left: 1%;
  font-family: 'Russo One', sans-serif;
  color: rgb(108, 117, 121);
}

.non-dec-link {
  color: black;
  text-decoration: none;
}

.non-dec-link:hover {
  color: black;
  text-decoration: none;
}

/****************CONTENT/FILTER SWITCHER***************/

.content-filter-switcher {
  background: rgb(194, 194, 194);
  z-index: 999;
  height: 90px;
  top: 15%;
  right: 1.5%;
  position: fixed;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  padding: 30px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

@media screen and (max-width: 1660px) {
  .content-filter-switcher {
    right: 1.7%;
  }
}

@media screen and (max-width: 1440px) {
  .content-filter-switcher {
    right: 1.8%;
  }
}

@media screen and (max-width: 1200px) {
  .content-filter-switcher {
    right: 2.1%;
  }
}

@media screen and (max-width: 991px) {
  .content-filter-switcher {
    top: 18%;
    right: 2.4%;
  }
}

@media screen and (max-width: 760px) {
  .content-filter-switcher {
    top: 17.5%;
    right: 2.5%;
  }
}

@media screen and (max-width: 694px) {
  .content-filter-switcher {
    top: 25%;
    right: 2.8%;
  }
}


.content-filter-switcher:hover {
  background: rgb(206, 206, 206);
}

@font-face {
  font-family: 'Russo One';
  src: url(../fonts/Russo_One.ttf);
}

.non-selectable {
  user-select: none;
}