.message-box {
  outline: solid rgba(0, 0, 0, .25) 10000px;
  position: absolute;
  z-index: 1000;
  background: rgb(212, 212, 212);
  width: 50%;
  top: 100px;
  left: 25%;
  min-height: 300px;
  padding: 3%;
}

.message-box .close-button {
  color: black;
  font-size: 26px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 0% 2%;
  text-align: center;
  background: red;
}

.message-box .message-body {
  min-height: 260px;
  font-size: 18px;
}

.message-box .submit-button {
  color: black;
  font-size: 26px;
  position: absolute;
  right: 160px;
  bottom: 20px;
  padding: 0% 2%;
  text-align: center;
  background: green;
}