.main-info {
  background: rgb(219, 219, 219);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  padding: 1%;
}

.user-photo {
  width: 80%;
}

.user-photo input {
  display: none;
}

.user-photo img {
  width: 100%;
  background: rgb(233, 233, 233);
  border: 2px solid #95a5a6;
  border-radius: 50%;
}

.name-input {
  width: 50%;
  font-size: 34px;
  background: #bdc3c7;
  color: white;
  text-align: center;
  border: solid 2px #95a5a6;
}

.update-name-btn {
  width: 100%;
  margin-top: 3%;
  padding: 0.6%;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 26px;
  background: #95a5a6;
  color: white;
  border: solid 2px #95a5a6;
  transition: 0.2s;
}

.update-name-btn:hover {
  background: #27ae60;
  color: #ecf0f1;
  border: solid 2px #1abc9c;
}

.update-name-btn .text {
  transition: 0.3s;
}

.update-name-btn:hover .text {
  transform: scale(1.2);
}

.flight-history {
  background: rgb(219, 219, 219);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  padding: 1%;
  margin-top: 1%;
  width: 100%;
}

.flight-history-headline {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.flight-history-list {
  width: 100%;
  margin-top: 1%;
}

.flight-history-item {
  padding: 1%;
  background: rgb(233, 233, 233);
  margin-bottom: 1%;
  border: 2px solid rgb(184, 184, 184);
}

.time-info {
  display: inline-block;
  margin-right: 4%;
}

.item-image {
  width: 100%;
}

.flight-history-item .books {
  margin-top: 2%;
}

.account-flight-book {
  border-radius: 10px;
  background: rgb(219, 216, 216);
  padding: 1%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  width: 13.78%;
  margin: right;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}