.button-dark {
    background: rgb(167, 180, 185);
    border: 1px solid gray;
}
  
.button-dark:hover{
    background: rgb(170, 196, 219);
    border: 1px solid;
}

.form-sign-up {
    width: 70%;
    margin-left: 15%;
}

.form-sign-up .social-networks {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    display: block;
}

.main-button {
    width: 100%;
    margin-bottom: 1%;
}

.sec-button {
    width: 50%;
}

.form-sign-up input {
    margin: 1% 0%;
}