.search-list {
  color: black;
  width: 300px;
  position: absolute;
  z-index: 999;
  background: rgb(139, 139, 139);
  padding: 3px;
  padding-top: 0px;
  margin-top: -12px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.search-list-input {
  width: 300px;
}

.search-list-input:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-item {
  font-family: serif;
  font-size: 18px;
  margin-top: 5px;
  padding: 2px;
  background: white;
}

.search-item:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: white;
}


.search-item-hide {
  display: none;
}

label {
  color: black;
}

input {
  color: rgb(48, 50, 51);
  padding: 3px;
}