.seat-types-editor {
    width: 100%;
    background: rgb(212, 212, 212);
    padding: 2%;
    margin-bottom: 1%;
}

.add-type-button {
    font-size: 24px;
    width: 100%;
    margin-top: 3%;
    padding: 2%;
    text-align: center;
    border: 1px solid black;
    color: black;
    background: rgb(201, 201, 201);
}

.add-type-button:hover{
    background: rgb(223, 223, 223);
}

.seat-type-name-input {
    width: 100%;
    margin-bottom: 2%;
}

.seat-types-headline {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: black;
}

.seat-type-item {
    font-size: 24px;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.seat-type-color-demo {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3%;
}

.color-demo {
    margin-top: 2%;
    width: 100%;
    height: 200px;
}

.seat-type-remove-button {
    display: inline-block;
    float: right;
    margin-right: 2%;
    min-width: 100px;
    background: red;
    color: black;
    padding: 0.3%;
    border: 0;
}

.seat-type-remove-button:hover {
    background: rgb(255, 73, 73);
}